@import 'antd/dist/antd.css';

.ant-layout-header{
    padding: 0 50px !important;
    height: 100px !important;
    line-height: 100px !important;
}

.ant-layout-content {
    padding: 5px 0 !important;
}

.ant-layout-sider, .ant-layout-sider-dark{
    min-width: 325px !important;
}

.ant-menu-item{
    height: 100px !important;
}

.ant-menu-item-selected {
    background-color: #001529 !important;
}

.ant-input {
    width: 100px !important;
}

.ant-btn{
    border-color: transparent !important;
}